<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] | Moment 1</title>
    <link rel="stylesheet" href="~/css/global.min.css">
    
</head>
<body>
    <div class="wrapper">

        <header class="site-header grid">
            <a id="site-logo" class="site-logo" href="/">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 386 52">
                    <path id="logo" fill="#ffffff" d="M61.3 0.65L61.3 52L45.5 52L45.5 34.62L33.65 52L21.8 34.62L21.8 52L6 52L6 16.45L0.47 16.45L0.47 0.65L21.8 0.65L33.65 18.03L45.5 0.65L61.3 0.65ZM116.6 26.33Q116.6 36.91 109.02 44.49Q101.51 52 90.92 52Q80.26 52 72.75 44.49Q65.25 36.99 65.25 26.33Q65.25 15.74 72.75 8.23Q80.34 0.65 90.92 0.65Q101.51 0.65 109.02 8.23Q116.6 15.74 116.6 26.33ZM100.8 26.33Q100.8 22.3 97.88 19.37Q94.95 16.45 90.92 16.45Q86.82 16.45 83.89 19.37Q81.05 22.22 81.05 26.33Q81.05 30.43 83.89 33.36Q86.82 36.2 90.92 36.2Q95.03 36.2 97.88 33.36Q100.8 30.43 100.8 26.33ZM175.85 0.65L175.85 52L160.05 52L160.05 34.62L148.2 52L136.35 34.62L136.35 52L120.55 52L120.55 0.65L136.35 0.65L148.2 18.03L160.05 0.65L175.85 0.65ZM227.2 36.2L227.2 52L179.8 52L179.8 0.65L227.2 0.65L227.2 16.45L195.6 16.45L195.6 20.4L219.3 20.4L219.3 32.25L195.6 32.25L195.6 36.2L227.2 36.2ZM278.55 0.65L278.55 52L262.75 52Q262.75 37.31 256.27 30.43Q252.01 25.93 246.95 25.93L246.95 52L231.15 52L231.15 0.65L231.47 0.65Q242.61 0.65 251.77 4.99Q259.91 8.87 262.75 14.08L262.75 0.65L278.55 0.65ZM329.9 0.65L329.9 16.45L314.1 16.45L314.1 52L298.3 52L298.3 16.45L282.5 16.45L282.5 0.65L329.9 0.65ZM385.2 0.65L385.2 52L369.4 52L369.4 16.45L365.45 16.45L365.45 0.65L385.2 0.65Z" />
                </svg>
            </a>
            <div class="date-module">
                <p>Dagens datum är: @DateTime.Today.ToString("d-MM-yyyy")</p>
            </div>
        </header>

        <main class="page">
            <nav class="nav-primary">
                <ul>
                    <li><a href="/">Start</a></li>
                    <li><a href="/razor">Razor</a></li>
                    <li><a href="/about">Om sidan</a></li>
                </ul>
            </nav>

            <section class="content">
                @RenderBody()
            </section>
        </main>

        <footer class="site-footer">
            <p>Av Johannes Nilsson - Kontakta mig via e-post: <a href="mailto:joni1307@student.miun.se">joni1307@student.miun.se</a></p>
        </footer>

    </div>

    <script src="~/js/global.min.js"></script>
</body>
</html>