@page
@model dt102g_m1.Pages.AboutModel
@{
    ViewData["Title"] = "Om sidan";
}

<h1>Om sidan</h1>
<p>Denna sidan är gjort av mig, Johannes Nilsson. Jag läser Webbutvecklingsprogrammet vid Mittuniversitetet.</p>
<p>Denna sida är skapad som en del i kursen DT102G - ASP.NET med C#.</p>
<p>Jag tycker att Razor Pages fungerar bra.</p>