@page
@model dt102g_m1.Pages.IndexModel
@{
    ViewData["Title"] = "Start";
}

<h1>Välkommen!</h1>

<p>
    Detta är en liten sida som jag byggt för att lära mig grunderna i ASP.NET Core och Razor Pages.
    Hoppas ni tycker att sidan är fin och fungerar som den ska.
</p>