@page
@model dt102g_m1.Pages.RazorModel
@{
    ViewData["Title"] = "Razor";

    var day = DateTime.Now;

    string[] courses =
    {
        "DT057G, Webbutveckling I",
        "DT150G, Flash, Photoshop och Datakunskap",
        "GD008G, Typografi och form för webb",
        "DT084G, Introduktion till programmering i JavaScript",
        "DT163G, Digital bildbehandling för webb",
        "DT093G, Webbutveckling II",
        "DT162G, Javascriptbaserad webbutveckling"
    };
}

<h1>Razor</h1>

<p><strong>Information</strong></p>
<p><strong>Datum/klockslag:</strong> @day</p>

@if (day.DayOfWeek != DayOfWeek.Monday)
{
    <p>Idag är det inte Måndag.</p>
} else {
    <p>Idag är det Måndag.</p>
}

<p><strong>Kurser jag läst</strong></p>
<ul>
    @foreach(var course in courses)
    {
        <li>@course</li>
    }
</ul>